/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.DS_Store
.clj-kondo/
.lsp/


out/
node_modules/
.shadow-cljs/
.ls
.clj-kondo/.cache
/public/js
visual_test/public/js
.calva/output-window/output.calva-repl
