:root{
  --gray-hue-oklch: 0;
  --gray-50: oklch(0.982 0 0);
  --gray-100: oklch(0.962 0 0);
  --gray-150: oklch(0.95 0.0 0);
  --gray-200: oklch(0.931 0 0);
  --gray-250: oklch(0.91 0.0 0);
  --gray-300: oklch(0.885 0 0);
  --gray-350: oklch(0.85 0.0 0);
  --gray-400: oklch(0.821 0 0);
  --gray-450: oklch(0.78 0.0 0);
  --gray-500: oklch(0.749 0 0);
  --gray-550: oklch(0.7 0.0 0);
  --gray-600: oklch(0.658 0 0);
  --gray-650: oklch(0.6 0.0 0);
  --gray-700: oklch(0.546 0 0);
  --gray-750: oklch(0.47 0.0 0);
  --gray-800: oklch(0.399 0 0);
  --gray-850: oklch(0.35 0.0 0);
  --gray-900: oklch(0.301 0 0);
  --gray-950: oklch(0.25 0.0 0);
  --gray-1000: oklch(0.193 0 0);

  --neutral-hue-oklch: 0;
  --neutral-50: var(--gray-50);
  --neutral-100: var(--gray-100);
  --neutral-150: var(--gray-150);
  --neutral-200: var(--gray-200);
  --neutral-250: var(--gray-250);
  --neutral-300: var(--gray-300);
  --neutral-350: var(--gray-350);
  --neutral-400: var(--gray-400);
  --neutral-450: var(--gray-450);
  --neutral-500: var(--gray-500);
  --neutral-550: var(--gray-550);
  --neutral-600: var(--gray-600);
  --neutral-650: var(--gray-650);
  --neutral-700: var(--gray-700);
  --neutral-750: var(--gray-750);
  --neutral-800: var(--gray-800);
  --neutral-850: var(--gray-850);
  --neutral-900: var(--gray-900);
  --neutral-950: var(--gray-950);
  --neutral-1000: var(--gray-1000);

  --purple-hue-oklch: 304.9;
  --purple-50: oklch(0.975 0.022 304.9);
  --purple-100: oklch(0.932 0.047 304.9);
  --purple-150: oklch(0.89 0.07 304.9);
  --purple-200: oklch(0.844 0.102 304.9);
  --purple-250: oklch(0.8 0.13 304.9);
  --purple-300: oklch(0.758 0.158 304.9);
  --purple-350: oklch(0.72 0.19 304.9);
  --purple-400: oklch(0.679 0.212 304.9);
  --purple-450: oklch(0.63 0.24 304.9);
  --purple-500: oklch(0.589 0.269 304.9);
  --purple-600: oklch(0.505 0.26 304.9);
  --purple-650: oklch(0.48 0.24 304.9);
  --purple-700: oklch(0.447 0.228 304.9);
  --purple-750: oklch(0.41 0.21 304.9);
  --purple-800: oklch(0.38 0.19 304.9);
  --purple-850: oklch(0.34 0.17 304.9);
  --purple-900: oklch(0.302 0.151 304.9);
  --purple-950: oklch(0.25 0.13 304.9);
  --purple-1000: oklch(0.193 0.101 304.9);

  --blue-hue-oklch: 267;
  --blue-50: oklch(0.979 0.01 267);
  --blue-100: oklch(0.948 0.024 267);
  --blue-150: oklch(0.91 0.04 267);
  --blue-200: oklch(0.877 0.057 267);
  --blue-250: oklch(0.84 0.08 267);
  --blue-300: oklch(0.797 0.094 267);
  --blue-350: oklch(0.75 0.12 267);
  --blue-400: oklch(0.702 0.136 267);
  --blue-450: oklch(0.65 0.16 267);
  --blue-500: oklch(0.601 0.189 267);
  --blue-550: oklch(0.56 0.2 267);
  --blue-600: oklch(0.521 0.213 267);
  --blue-650: oklch(0.48 0.2 267);
  --blue-700: oklch(0.439 0.185 267);
  --blue-750: oklch(0.4 0.17 267);
  --blue-800: oklch(0.37 0.159 267);
  --blue-850: oklch(0.34 0.15 267);
  --blue-900: oklch(0.301 0.131 267);
  --blue-950: oklch(0.25 0.1 267);
  --blue-1000: oklch(0.198 0.078 267);

  --red-hue-oklch: 27;
  --red-50: oklch(0.978 0.011 27);
  --red-100: oklch(0.944 0.028 27);
  --red-150: oklch(0.91 0.05 27);
  --red-200: oklch(0.87 0.067 27);
  --red-250: oklch(0.82 0.09 27);
  --red-300: oklch(0.775 0.118 27);
  --red-350: oklch(0.72 0.15 27);
  --red-400: oklch(0.668 0.173 27);
  --red-450: oklch(0.63 0.2 27);
  --red-500: oklch(0.587 0.22 27);
  --red-600: oklch(0.529 0.195 27);
  --red-650: oklch(0.5 0.19 27);
  --red-700: oklch(0.465 0.179 27);
  --red-750: oklch(0.43 0.17 27);
  --red-800: oklch(0.395 0.158 27);
  --red-850: oklch(0.36 0.14 27);
  --red-900: oklch(0.321 0.131 27);
  --red-950: oklch(0.27 0.11 27);
  --red-1000: oklch(0.215 0.087 27);

  --gold-hue-oklch: 82;
  --gold-50: oklch(0.984 0.02 82);
  --gold-100: oklch(0.968 0.04 82);
  --gold-150: oklch(0.95 0.07 82);
  --gold-200: oklch(0.926 0.092 82);
  --gold-250: oklch(0.9 0.12 82);
  --gold-300: oklch(0.881 0.142 82);
  --gold-350: oklch(0.86 0.16 82);
  --gold-400: oklch(0.829 0.168 82);
  --gold-450: oklch(0.8 0.16 82);
  --gold-500: oklch(0.761 0.156 82);
  --gold-600: oklch(0.675 0.138 82);
  --gold-650: oklch(0.64 0.13 82);
  --gold-700: oklch(0.596 0.122 82);
  --gold-750: oklch(0.54 0.11 82);
  --gold-800: oklch(0.485 0.099 82);
  --gold-850: oklch(0.43 0.09 82);
  --gold-900: oklch(0.383 0.078 82);
  --gold-950: oklch(0.34 0.07 82);
  --gold-1000: oklch(0.29 0.059 82);

  --cyan-hue-oklch: 200;
  --cyan-50: oklch(0.979 0.01 200);
  --cyan-100: oklch(0.948 0.024 200);
  --cyan-150: oklch(0.91 0.04 200);
  --cyan-200: oklch(0.877 0.057 200);
  --cyan-250: oklch(0.84 0.08 200);
  --cyan-300: oklch(0.797 0.094 200);
  --cyan-350: oklch(0.75 0.12 200);
  --cyan-400: oklch(0.702 0.136 200);
  --cyan-450: oklch(0.65 0.16 200);
  --cyan-500: oklch(0.601 0.189 200);
  --cyan-550: oklch(0.56 0.2 200);
  --cyan-600: oklch(0.521 0.213 200);
  --cyan-650: oklch(0.48 0.2 200);
  --cyan-700: oklch(0.439 0.185 200);
  --cyan-750: oklch(0.4 0.17 200);
  --cyan-800: oklch(0.37 0.159 200);
  --cyan-850: oklch(0.34 0.15 200);
  --cyan-900: oklch(0.301 0.131 200);
  --cyan-950: oklch(0.25 0.1 200);
  --cyan-1000: oklch(0.198 0.078 200);


  --sans-serif-font-stack: system-ui, Inter,  sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --serif-font-stack: Cormorant, Times, serif;
  --code-font-stack: "JetBrains Mono", "Fira Code", monospace;
  --sans: var(--sans-serif-font-stack);
  --serif: var(--serif-font-stack);
  --code-font-size: var(--font-size-sm);
  --code-padding-inline: 0.2em;
  --code-padding-block: 0.08em;
  --code-border-radius: 3px;
  --code-background-color: var(--gray-100);
  --code-background-color-dark-mode: var(--gray-800);
  --code-color-dark-mode: var(--gray-50);
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-wee-bold: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-heavy: 900;
  --font-weight-root-font-size: 1rem;
  --font-size-4xs: 0.64rem;
  --font-size-3xs: 0.67rem;
  --font-size-2xs: 0.71rem;
  --font-size-xs: 0.77rem;
  --font-size-sm: 0.86rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.21rem;
  --font-size-xl: 1.485rem;
  --font-size-2xl: 1.86rem;
  --font-size-3xl: 2.36rem;
  --font-size-4xl: 3.03rem;
  --font-size-4xs-b: 0.655rem;
  --font-size-3xs-b: 0.685rem;
  --font-size-2xs-b: 0.733rem;
  --font-size-xs-b: 0.805rem;
  --font-size-sm-b: 0.92rem;
  --font-size-base-b: 1.1rem;
  --font-size-lg-b: 1.33rem;
  --font-size-xl-b: 1.655rem;
  --font-size-2xl-b: 2.085rem;
  --font-size-3xl-b: 2.68rem;
  --font-size-4xl-b: 3.475rem;

  --transition-timing-function: var(--timing-linear-curve);
  --transition-duration: var(--transition-fast);
  --transition-instant: 0ms;
  --transition-3xfast: 50ms;
  --transition-2xfast: 100ms;
  --transition-xfast: 175ms;
  --transition-fast: 250ms;
  --transition-base: 500ms;
  --transition-slow: 700ms;
  --transition-xslow: 1s;
  --transition-2xslow: 2s;
  --transition-3xslow: 4s;

  --shape-rounded-3xs-absolute: 0.0625rem;
  --shape-rounded-2xs-absolute: 0.125rem;
  --shape-rounded-xs-absolute: 0.25rem;
  --shape-rounded-sm-absolute: 0.375rem;
  --shape-rounded-md-absolute: 0.5rem;
  --shape-rounded-lg-absolute: 0.75rem;
  --shape-rounded-xl-absolute: 1rem;
  --shape-rounded-2xl-absolute: 1.25rem;
  --shape-rounded-3xl-absolute: 1.5625rem;
  --shape-rounded-absolute: var(--shape-rounded-md-absolute);
  --shape-rounded-3xs: 0.04375em;
  --shape-rounded-2xs: 0.0875em;
  --shape-rounded-xs: 0.175em;
  --shape-rounded-sm: 0.2625em;
  --shape-rounded-md: 0.35em;
  --shape-rounded-lg: 0.475em;
  --shape-rounded-xl: 0.625em;
  --shape-rounded-2xl: 0.775em;
  --shape-rounded-3xl: 0.925em;
  --shape-rounded: var(--shape-rounded-md);
}
